<!DOCTYPE html>
<html>

<head>
    <title>MyIMDB</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <a class="navbar-brand" href="/">MyIMDB</a>

        <ul class="nav navbar-nav mr-auto">
            <% if(!currentUser) { %>
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/signup">Signup</a>
            </li>
            <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/toprated">Top Rated</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/watchlist">Watchlist</a>
            </li>
            <% } %>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <% if(currentUser) { %>
            <li class="nav-item">
                <a class="nav-link" href="/notifications">Notifications</a>
            </li>
            <!-- <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> -->
            <li class="nav-item">
                <a class="nav-link" href="/profile">Signed in as <%=currentUser.username%></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            <% } %>
        </ul>
    </nav>